# Project place file
/roclash.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json

# Ferramentas e documentação local

/projeto - contexto/
/graphify-out/cache
/graphify-out/graphify.log
/graphify-out/*.html
/graphify-out/*.json
/graphify-out/*.json.sig